
/**{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
a.header:link {
	text-decoration:none;
*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
	padding: 60px;
	text-align: center;
	background: #1abc9c;
	color: white;
	font-size: 30px;
	margin-left:20px;
}
a:link {
	text-decoration:none;
	color: black;
}

a:visited{
	text-decoration:none;
	color:black;
}

a:hover{
	background-color: #ddd;
  	color: black;
}

a.active {
	background-color: #ddd;
	color: yellow;
}

body{
	background-color: #8B9AA6;
	font-family: Georgia, serif;
}

h1{
	color: #081F1F;
	font-family: Georgia, serif;
	font-size: 50px;
	vertical-align: middle;
	margin-left:20px;
}

h2{
	color: #081F1F;
	font-family: Georgia, serif;
	font-size: 30px;
	text-align: center;
	padding: 20px;
	margin-left:20px;
}

h3{
	color: #081F1F;
	font-family: Georgia, serif;
	font-size: 20px;
	text-align: center;
	margin-left:20px;
}
h4{
	color: #081F1F;
	font-family: Georgia, serif;
	font-size: 35px;
	vertical-align: middle;
	margin-left:20px;
}

p{
	color: #081F1F;
	font-family: Georgia, serif;
	font-size: 16px;
	margin-right: 20px;
	margin-left: 20px;
}
